@*create the admin menu*@

<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Menu items go here*@
        <li class="dropdown-header">My Services</li>
        <li class="divider"></li>

        <li><a href="/Admin/Venues">&nbsp;&nbsp;Venues</a></li>
        <li><a href="/Admin/Activities">&nbsp;&nbsp;Activities</a></li>
        <li><a href="/Admin/VenueType">&nbsp;&nbsp;VenueTypes</a></li>

    </ul>


</li>
